GOOGLE_GENAI_USE_VERTEXAI=1
GOOGLE_CLOUD_PROJECT=qwiklabs-asl-03-b5c1f6413ded
GOOGLE_CLOUD_LOCATION=global

GEMINI_MODEL=gemini-3-flash-preview

# Telemetry for ADK (https://docs.cloud.google.com/gemini-enterprise-agent-platform/scale/runtime/tracing#write-traces)
GOOGLE_CLOUD_AGENT_ENGINE_ENABLE_TELEMETRY=true
OTEL_SEMCONV_STABILITY_OPT_IN=gen_ai_latest_experimental
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=EVENT_ONLY

# MCP Endpoints Configuration
# Full service names are used for better readability.
MCP_ENDPOINT_COMPUTE_ENGINE=https://compute.googleapis.com/mcp
MCP_ENDPOINT_CLOUD_RUN=https://run.googleapis.com/mcp
MCP_ENDPOINT_KUBERNETES_ENGINE=https://container.googleapis.com/mcp

MCP_ENDPOINT_CLOUD_STORAGE=https://storage.googleapis.com/storage/mcp
MCP_ENDPOINT_NETWORK_MANAGEMENT=https://networkmanagement.googleapis.com/mcp

MCP_ENDPOINT_GEMINI_CLOUD_ASSIST=https://geminicloudassist.googleapis.com/mcp

MCP_ENDPOINT_CLOUD_TRACE=https://cloudtrace.googleapis.com/mcp
MCP_ENDPOINT_CLOUD_LOGGING=https://logging.googleapis.com/mcp
MCP_ENDPOINT_CLOUD_MONITORING=https://monitoring.googleapis.com/mcp
MCP_ENDPOINT_ERROR_REPORTING=https://clouderrorreporting.googleapis.com/mcp

MCP_ENDPOINT_BIGQUERY=https://bigquery.googleapis.com/mcp
MCP_ENDPOINT_BIGTABLE=https://bigtableadmin.googleapis.com/mcp
MCP_ENDPOINT_CLOUD_SQL=https://sqladmin.googleapis.com/mcp
MCP_ENDPOINT_FIRESTORE=https://firestore.googleapis.com/mcp
MCP_ENDPOINT_ALLOYDB=https://alloydb.googleapis.com/mcp
MCP_ENDPOINT_DATABASE_CENTER=https://databasecenter.googleapis.com/mcp
MCP_ENDPOINT_DATABASE_INSIGHTS=https://databaseinsights.googleapis.com/mcp